<div class="pt-4 connect text-center">
    <h3>Connect Us</h3>
    <br>
<div class="body2">
    <div>
        <section>
            <div class="wrapper">
                <div class="button">
                    <div class="icon">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <span>Instagram</span>
                </div>
        
                <div class="button">
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <span>Facebook</span>
                </div>
        
                <div class="button">
                    <div class="icon">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <span>Twitter</span>
                </div>
        
                <div class="button">
                    <div class="icon">
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <span>LinkedIn</span>
                </div>
        
                <div class="button">
                    <div class="icon">
                        <i class="fab fa-youtube"></i>
                    </div>
                    <span>YouTube</span>
                </div>
            </div>
        </section>
    </div>
   </div> 

<!-- quik links -->

    <div class="quicklinks d-flex justify-content-around">
        <div class="address">
            <h4>Location</h4>
            <p>Carmel Towers, First Floor</p>
            <p>Vazhuthacaud,</p>
            <p>Trivandrum</p>
            <p>Kerala 695014</p>
        </div>
<div></div>
        <div class="sub">
            <h4>QuickLinks</h4>
            <a href=""><p>About Us</p></a>
            <a href=""><p>Contact Us</p></a>
            <a href=""><p>Privacy Policy</p></a>
            <a href=""><p>Terms & Condition</p></a>
        </div>
    </div>

   
   
<!-- quik links ending-->


<div class="copy">
    Copyright ©2022 StudyLinks | Developed by Amal V
</div>
</div>

